%div{class:"jumbotron"}
  %div{class:"container text-center"}
    %h1
      BookApp for Backbonejs tutorial
    %a{ href: "https://github.com/yuchan/sinatra-boilerplate", class: "btn btn-info" }
      View on Github

#books
  %form#addBook{:action => "#"}
    %div
      %label{:for => "coverImage"} CoverImage:
      %input#coverImage{:type => "file"}/
      %label{:for => "title"} Title:
      %input#title{:type => "text"}/
      %label{:for => "author"} Author:
      %input#author{:type => "text"}/
      %label{:for => "releasdate"} Release date:
      %input#releasedate{:type => "text"}/
      %label{:for => "keywords"} Keywords:
      %input#keywords{:type => "text"}/
      %button#add Add

%script#bookTemplate{:type => "text/template"}
  <img src="<%= coverImage %>"/>
  <ul>
  <li><%= title %></li>
  <li><%= author %></li>
  <li><%= $.format.date( new Date( releasedate ), 'MMMM yyyy' ) %></li>
  <li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>
  </ul>
  
  <button class="delete">Delete</button>